{% block driven_set_configurator %}
    {#    {% if todo %} #}
{#    {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {#}
{#        type: "warning",#}
{#        content: "Status der Produkte im Offcanvas-Einkaufswagen, der implementiert werden soll"#}
{#    } %}#}
    {#    {% endif %} #}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form action="{{ path('frontend.driven.product-configurator.save-selection') }}" method="post">
                    {{ sw_csrf('frontend.driven.product-configurator.save-selection') }}
                    <h3>Schläger-Montage: (im Gange)</h3>
                    <select class="custom-select custom-select-lg mb-1">
                        <option selected>Vorhand:</option>
                        <option value="1">DONIC Bluestorm Z1 Turbo rot 1,9 mm (zzgl. 1 EUR)</option>
                        <option value="2">Bluestorm S1 Turbo blau 1,9 mm (zzgl. 1 EUR)</option>
                        <option value="3">DONIC Bluestorm Z1 Turbo rot 1,9 mm (zzgl. 1 EUR)</option>
                    </select>
                    <select class="custom-select custom-select-lg mb-1">
                        <option selected>Rückhand:</option>
                        <option value="1">Kein Belag</option>
                    </select>
                    <select class="custom-select custom-select-lg mb-1">
                        <option selected>Versiegelung:</option>
                        <option value="1">inkl. Versiegelung (zzgl. 5 EUR)</option>
                        <option value="2">inkl. Versiegelung (zzgl. 10 EUR)</option>
                    </select>
                    <button>Save selection</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}