{% sw_extends '@dvsnsetconfigurator/storefront/page/checkout/checkout-item.html.twig' %}

{% block page_checkout_item %}
    <h1> TODO => extend product detail in certain conditions</h1>

{% endblock %}